@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  font-family: "Roboto", sans-serif;;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}
div{
  position: relative;
}
#map {
  width: 100%;
  height: 120%;
  background: white;
}
/* Hide leaflet layers control and let us take control over */
.leaflet-control-layers-toggle {
  display: none;
}
/* Customize the label (the pf-control-layers-checkbox-container) */
.pf-control-layers-checkbox-container {
  display: block;
  position: relative;
  padding-left: 5px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-left: 5px solid greenyellow;
}
/* Hide the browser's default checkbox */
.pf-control-layers-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.pf-control-layers-checkmark {
  padding: 1rem;
  color: white;
  border-radius: 0px 9999px 9999px 0px;
  padding-left: 10px;
  box-sizing: border-box;
  display: block;
}
.btn-marker{
  position: relative;
  display: flex;
  margin-top: 7%;
  justify-content: center;
  width: 100%;  
  font-family: monospace;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px;
  color: white;
  background-color: #00b5e2;
  border-radius: 0.35rem;
  border-color: #01b6e3;
}

/*********************** DEPARTAMENTO DE PLANTA FÍSICA PF **************************/
.PF{
  position: absolute;
  font-family: sans-serif;
  font-size:medium;
  left: 5%;
  opacity: .5;
  top: 94%;
  z-index: 999;
}
.pagina{
  position: absolute;
  font-family: sans-serif;
  font-size:small;
  left: 5%;
  opacity: .5;
  top: 97%;
  z-index: 999;
}



/************************ MENU *************************/
.menu_icon{
  position: absolute;
  width: 50px;
  height: 100px;
  left: 85%;
  top: 85.5%;
  z-index: 1001;
}

.button-modal{
  position: absolute;
  background-color: #00b5e2;
  background-image: url("../images/imgs/recursos/lupa.png");
  z-index: 110;
  background-size: 60% 70%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 6%;
  height: 5%;
  border-radius: 100%;
}
.table-container{
  overflow-y: auto;
  max-height: 200px;
}


.subMenu{
  position: relative;
  left: 4%;
  justify-content: space-between;
  text-align: left;
  font-weight: 400;
  border-radius: 0px 9999px 9999px 0px;
  border-color: transparent;
  margin: 0.5px;
  font-size: 12px;
  color: white;
  font-family: "Roboto", sans-serif;
  border-width: 1px;
  padding: 5px;
  width: 90%;
  z-index: 2000;
}

.subMenuGreen{
  background-color: rgb(118, 183, 42, 0.7);
}
.subMenuPink{
  background-color: rgb(230, 25, 131, 0.7);
}
.subMenuYellow{
  background-color: rgb(254, 205, 27, 0.7);
  color: #000;
}
.subMenuOrange{
  background-color: rgb(237, 113, 2, 0.7);
}
.subMenuGrey{
  background-color: rgb(188, 188, 188, 0.7);
  color: #000;
}


/************************ END MENU *************************/

/************************ MODAL ************************/

/* The modal-modal-close (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2000; /* Sit on top */
  left: 0px;
  top: -13px;
  width: 100%; /* Full width */
  height: 105%; /* Full height */
  overflow:scroll; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 2% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 75%; /* Could be more or less, depending on screen size */
  text-align: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: transparent;
}
/* The modal-close Button */
.modal-close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  left: 6%;
}
.modal-close:hover,
.modal-close:focus {
  color: rgb(255, 0, 0);
  text-decoration: none;
  cursor: pointer;
}
.imgMinimapa {
  left: 9px;
  top: 14.8rem;
  width: 95%;
  border-radius: 3%;
}
.modalimg {
  border-radius: 1%;
  width: 98%;
  top: 90%;
  left: 0px;
  border-radius: 3%;
}
.btnBICIChico {
  position: absolute;
  opacity: 130%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 110;
  background-position: center;
  background-image: url("../images/imgs/recursos/bici.png");
  border: none;
  width: 6%;
  height: 5%;
  border-radius: 100%;
}
.btnBUSChico {
  position: absolute;
  opacity: 130%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 110;
  background-position: center;
  background-image: url("../images/imgs/recursos/bus.png");
  border: none;
  width: 6%;
  height: 5%;
  border-radius: 100%;
}
.btnBICINormal {
  position: absolute;
  opacity: 130%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 110;
  background-position: center;
  background-image: url("../images/imgs/recursos/bici.png");
  border: none;
  width: 8%;
  height: 7%;
  border-radius: 100%;
}
.btnBUSNormal {
  position: absolute;
  opacity: 130%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 110;
  background-position: center;
  background-image: url("../images/imgs/recursos/bus.png");
  border: none;
  width: 8%;
  height: 7%;
  border-radius: 100%;
}
.btnBICIGrande {
  position: absolute;
  opacity: 130%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 110;
  background-position: center;
  background-image: url("../images/imgs/recursos/bici.png");
  border: none;
  width: 9.5%;
  height: 8.5%;
  border-radius: 100%;
}
.btnBUSGrande {
  position: absolute;
  opacity: 130%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 110;
  background-position: center;
  background-image: url("../images/imgs/recursos/bus.png");
  border: none;
  width: 9.5%;
  height: 8.5%;
  border-radius: 100%;
}

.modal-content-img, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.modal-content-img {
  position: relative;
  top: 40px;
  margin: auto;
  display: block;
  width: 97%;
  max-width: 700px;
}
#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal-Level-img {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal-Acces-img {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.modal-close-img {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.modal-close-img:hover,
.modal-close-img:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* The modal-close Button */
/* .modal-close-img {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  left: 6%;
}
.modal-close-img:hover,
.modal-close-img:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */
.modal-close-acces {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  left: 6%;
}
.modal-close-acces:hover,
.modal-close-acces:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/************************ END MODAL ************************/

/************************ RESOURCES MODAL **********************/
/* .modal-title{
  max-width:47%;
  align-content: center;
  justify-content: center;
  left: 0%;
 } */
.modal-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: #fefefe;
}
.modal-header-acces{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: #fefefe;
}
.b{
  display: inline-block;
  padding: 0.7%;
  border-color: #01b6e3;
  width:116px ;
  background-color: #01b6e3;
  font-size: 12px;
  color: white;
  border-radius: 0.35rem;
}
.b:hover {
  background-color: #0296bb;
}
.b1{
  top: 2%;
  display: inline-block;
  
}
.b1Acces{
  top: 2%;
  display: inline-block;
  
}
/************************ END RESOURCES MODAL **********************/

/************************ CONTROL OVERLAY ************************/
#control-overlay {
  position: absolute;
  display: flex;
  top: 30%;
  left: 0;
  transition: 0.3s;
  background-color: #00b5e2;
  border: 1px solid black;
  border-radius: 0 15px 15px 0;
  padding: 0.875rem;
  z-index: 1000;
}

.areas{
  margin-left: 3px;
  color: black;
}
.menu-visible{
  visibility: visible;
  animation-name: slide-in-down;
  animation-duration: 1s;
  transition: all 1s;
}
.menu-hidden{
  visibility: hidden;
  animation-name: slide-in-up;
  animation-duration: 1s;
  transition: 1s;
}

@keyframes slide-in-down{
  0%{
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    opacity: 0;
  }
  100%{
    -webkit-transform: translateY(0);
    transform: translateY(1);
    opacity: 1;
  }
}

@keyframes slide-in-up{
  100%{
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    opacity: 0;
  }
  0%{
    -webkit-transform: translateY(0);
    transform: translateY(1);
    opacity: 1;
  }
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}


#control-overlay p {
  text-align: center;
}
#control-overlay .control-layers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
#control-overlay .control-layers-button {
  font-size: 14px;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  padding: 0;
  padding-left: 5px;
  margin: 0;
  width: 100%;
}
.control-layers-button span {
  display: block;
  border-radius: 0px 9999px 9999px 0px;
  padding: 14px 28px;
  text-align: left;
  font-weight: 600;
}
#control-overlay .control-layers-button-green {
  border-left: 5px solid rgb(118, 183, 42);
}
#control-overlay .control-layers-button-green span{
  background-color: rgb(118, 183, 42);
}
#control-overlay .control-layers-button-orange {
  border-left: 5px solid rgb(237, 113, 2);
}
#control-overlay .control-layers-button-orange span{
  background-color: rgb(237, 113, 2);
}
#control-overlay .control-layers-button-yellow {
  color: black;
  border-left: 5px solid rgb(254, 205, 27);
}
#control-overlay .control-layers-button-yellow span{
  background-color: rgb(254, 205, 27);
}
#control-overlay .control-layers-button-pink {
  border-left: 5px solid rgb(230, 25, 131);
}
#control-overlay .control-layers-button-pink span{
  background-color: rgb(230, 25, 131);
}
#control-overlay .control-layers-button-gray {
  border-left: 5px solid rgb(188, 188, 188);
  color: black;
}
#control-overlay .control-layers-button-gray span{
  background-color: rgb(188, 188, 188);
}
#control-overlay .control-layers-button-facultades {
  border-left: 5px solid rgb(0, 59, 92);
}
#control-overlay .control-layers-button-facultades span{
  background-color: rgb(0, 59, 92);
}
#control-overlay > p {
  writing-mode: vertical-lr;
  font-weight: 600;
  font-size: 18px;
}
/************************ END CONTROL OVERLAY ************************/

.leaflet-tooltip.nombre-facultad{
  background: rgba(0, 0, 0, 0.4); /* fondo semitransparente */
  border: none;                   /* sin borde */
  box-shadow: none;
  color: #fff;                    /* texto blanco */
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;  /* mejora visibilidad sobre el mapa */
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
  white-space: nowrap;
  transform: translateY(-50%);    /* centra verticalmente */
  pointer-events: none;           /* evita interferir con clics */
}

#zoomInGIF {
  display: flex; /* O 'inline-block' o 'flex' dependiendo de tu layout */
  position: absolute;
  width: 80%;
  z-index: 1002;

  left: 10%;
  top: 30%;
}
.oculto {
  display: none;
}

.img-cns{
  /* position: absolute; */
  width: 7%;
  border: 1px solid #000;
  border-radius: 22px;
  /* z-index: 1001; */
  margin-left: 7px;
  /* top: 30%; */
}